@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.8125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: #000;
  text-align: left;
  border: 1px solid #c2c8d0;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 32px;
  border-radius: 0 0 3px 3px;
  min-width: 100px;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #c2c8d0;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  color: #000;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
  outline: none;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  border-radius: 20px;
}

.popup__close:hover {
  opacity: 0.5;
}

.popup__cross {
  width: 35px;
  height: 35px;
}

.popup__title {
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
  color: #000;
}

@supports (font-size: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem )) {
  .popup__title {
    font-size: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem )) {
  .popup__title {
    font-size: calc(1.6875rem + 0.3125 * (100vw - 20rem) / 55);
  }
}

.popup__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.popup__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.popup__item:last-of-type {
  margin-bottom: 0;
}

.popup__label {
  color: #000;
  margin-bottom: 0.3125rem;
  font-size: 1rem;
}

.popup__input {
  height: auto;
  min-height: 52px;
  border: 1px solid #c2c8d0;
  border-radius: 3px;
  font-size: 1rem;
  width: 100%;
  outline: none;
  padding: 0 16px;
  -webkit-transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  line-height: 1.1;
  text-align: left;
}

.popup__input_question {
  height: 6.25rem;
  padding: 8px 16px;
}

.popup__input:focus {
  -webkit-box-shadow: 0 0 5px rgba(255, 157, 0, 0.1);
          box-shadow: 0 0 5px rgba(255, 157, 0, 0.1);
  border-color: #ff9d00;
}

.popup__btn {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff9d00;
  border-radius: 3px;
  min-height: 3.25rem;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-color 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.popup__btn:hover {
  background-color: rgb(236, 146, 0);
  -webkit-box-shadow: 0 0 5px rgba(236, 146, 0, 0.1);
          box-shadow: 0 0 5px rgba(236, 146, 0, 0.1);
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.1875rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  line-height: 1.55;
  font-weight: 700;
  color: #fff;
}

@supports (font-size: clamp( 1.25rem , 1.1136363636rem  +  0.6818181818vw , 1.625rem )) {
  .title {
    font-size: clamp( 1.25rem , 1.1136363636rem  +  0.6818181818vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1136363636rem  +  0.6818181818vw , 1.625rem )) {
  .title {
    font-size: calc(1.25rem + 0.375 * (100vw - 20rem) / 55);
  }
}

.cr-red {
  color: #ff0000;
}

.cr-orange {
  color: #ff9500;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b87313;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@supports (padding-left: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
  .btn {
    padding-left: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
  }
}

@supports not (padding-left: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
  .btn {
    padding-left: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
  .btn {
    padding-right: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
  }
}

@supports not (padding-right: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
  .btn {
    padding-right: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
  }
}

@supports (min-height: clamp( 2.5rem , 2.1363636364rem  +  1.8181818182vw , 3.5rem )) {
  .btn {
    min-height: clamp( 2.5rem , 2.1363636364rem  +  1.8181818182vw , 3.5rem );
  }
}

@supports not (min-height: clamp( 2.5rem , 2.1363636364rem  +  1.8181818182vw , 3.5rem )) {
  .btn {
    min-height: calc(2.5rem + 1 * (100vw - 20rem) / 55);
  }
}

@supports (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
  .btn {
    font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
  .btn {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 55);
  }
}

.btn:hover {
  color: #fff;
  background-color: #ff9500;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 50% 30% 20% 60%/50% 20% 60% 30%;
  }

  50% {
    border-radius: 20% 50% 60% 30%/40% 50% 20% 50%;
  }

  100% {
    border-radius: 50% 30% 20% 60%/50% 20% 60% 30%;
  }
}

@keyframes morph {
  0% {
    border-radius: 50% 30% 20% 60%/50% 20% 60% 30%;
  }

  50% {
    border-radius: 20% 50% 60% 30%/40% 50% 20% 50%;
  }

  100% {
    border-radius: 50% 30% 20% 60%/50% 20% 60% 30%;
  }
}

.header {
  width: 100%;
  z-index: 2;
  background-color: #202020;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__wrapper {
  z-index: 50;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 90px;
}

.menu__title {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.3125rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  z-index: 5;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

@supports (margin-right: clamp( 0.3125rem , 0.2443181818rem  +  0.3409090909vw , 0.5rem )) {
  .menu__phone-img {
    margin-right: clamp( 0.3125rem , 0.2443181818rem  +  0.3409090909vw , 0.5rem );
  }
}

@supports not (margin-right: clamp( 0.3125rem , 0.2443181818rem  +  0.3409090909vw , 0.5rem )) {
  .menu__phone-img {
    margin-right: calc(0.3125rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #020202;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .footer__body {
    padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .footer__body {
    padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .footer__body {
    padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .footer__body {
    padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
  }
}

@supports (gap: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
  .footer__body {
    gap: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
  .footer__body {
    gap: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .footer__content {
    gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .footer__content {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.footer__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

@supports (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
  .footer__title {
    font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
  .footer__title {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.footer__link {
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .footer__link {
    font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .footer__link {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.footer__link:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.footer__phone-img {
  margin: 0px 6px 0px 0px;
}

.footer__bottom-text {
  line-height: 1.5;
  font-weight: 500;
  color: #666666;
}

@supports (font-size: clamp( 0.625rem , 0.5795454545rem  +  0.2272727273vw , 0.75rem )) {
  .footer__bottom-text {
    font-size: clamp( 0.625rem , 0.5795454545rem  +  0.2272727273vw , 0.75rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5795454545rem  +  0.2272727273vw , 0.75rem )) {
  .footer__bottom-text {
    font-size: calc(0.625rem + 0.125 * (100vw - 20rem) / 55);
  }
}

div,
p,
h1,
h2,
h3,
h4 {
  color: #fff;
}

.page {
  background-color: #161616;
}

.hero {
  position: relative;
}

@supports (margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .hero {
    margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .hero {
    margin-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
  }
}

.hero__bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.hero__wrapper {
  z-index: 1;
  min-height: 43.75rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-weight: 700;
  line-height: 1.3777777778;
  color: #ffffff;
  margin-bottom: 0.625rem;
}

@supports (font-size: clamp( 1rem , 0.3409090909rem  +  3.2954545455vw , 2.8125rem )) {
  .hero__title {
    font-size: clamp( 1rem , 0.3409090909rem  +  3.2954545455vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.3409090909rem  +  3.2954545455vw , 2.8125rem )) {
  .hero__title {
    font-size: calc(1rem + 1.8125 * (100vw - 20rem) / 55);
  }
}

.hero__text {
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 1.25rem;
}

@supports (font-size: clamp( 0.75rem , 0.5681818182rem  +  0.9090909091vw , 1.25rem )) {
  .hero__text {
    font-size: clamp( 0.75rem , 0.5681818182rem  +  0.9090909091vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.5681818182rem  +  0.9090909091vw , 1.25rem )) {
  .hero__text {
    font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .categories {
    margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .categories {
    margin-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
  }
}

.categories__title {
  color: #fff;
}

@supports (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
  .categories__title {
    margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
  .categories__title {
    margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.categories__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #202020;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@supports (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .categories__item {
    gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .categories__item {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

@supports (padding: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .categories__item {
    padding: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
  }
}

@supports not (padding: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .categories__item {
    padding: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.categories__img {
  max-width: 3.75rem;
  height: auto;
}

.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.categories__content-title {
  font-weight: 500;
  color: #fff;
}

@supports (font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
  .categories__content-title {
    font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
  .categories__content-title {
    font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
  .categories__content-title {
    margin-bottom: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
  .categories__content-title {
    margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 55);
  }
}

.categories__text {
  color: #fff;
  line-height: 1.8461538462;
  font-weight: 300;
}

@supports (font-size: clamp( 0.625rem , 0.5568181818rem  +  0.3409090909vw , 0.8125rem )) {
  .categories__text {
    font-size: clamp( 0.625rem , 0.5568181818rem  +  0.3409090909vw , 0.8125rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5568181818rem  +  0.3409090909vw , 0.8125rem )) {
  .categories__text {
    font-size: calc(0.625rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .question {
    margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .question {
    margin-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
  .question__title {
    margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
  .question__title {
    margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.question__body {
  position: relative;
}

.question__items-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem )) {
  .question__items-block {
    gap: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem )) {
  .question__items-block {
    gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.spollers__item {
  border-bottom: 2px solid #ff9d00;
}

.spollers__title {
  color: #fff;
  font-weight: 500;
  line-height: 1.5789473684;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (font-size: clamp( 1rem , 0.9318181818rem  +  0.3409090909vw , 1.1875rem )) {
  .spollers__title {
    font-size: clamp( 1rem , 0.9318181818rem  +  0.3409090909vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9318181818rem  +  0.3409090909vw , 1.1875rem )) {
  .spollers__title {
    font-size: calc(1rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

.spollers__body {
  color: #fff;
  font-weight: 300;
  line-height: 1.75;
  background-color: #202020;
}

@supports (font-size: clamp( 0.8125rem , 0.7443181818rem  +  0.3409090909vw , 1rem )) {
  .spollers__body {
    font-size: clamp( 0.8125rem , 0.7443181818rem  +  0.3409090909vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.8125rem , 0.7443181818rem  +  0.3409090909vw , 1rem )) {
  .spollers__body {
    font-size: calc(0.8125rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

@supports (padding: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
  .spollers__body {
    padding: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
  }
}

@supports not (padding: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
  .spollers__body {
    padding: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
  }
}

.devices {
  color: #fff;
}

@supports (margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .devices {
    margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .devices {
    margin-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
  }
}

.devices__body {
  position: relative;
}

.devices__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.devices__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.devices__title-wrapper {
  position: relative;
}

.devices__title {
  font-weight: 500;
  line-height: 1.55;
  position: relative;
}

@supports (font-size: clamp( 2.1875rem , 1.8011363636rem  +  1.9318181818vw , 3.25rem )) {
  .devices__title {
    font-size: clamp( 2.1875rem , 1.8011363636rem  +  1.9318181818vw , 3.25rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.8011363636rem  +  1.9318181818vw , 3.25rem )) {
  .devices__title {
    font-size: calc(2.1875rem + 1.0625 * (100vw - 20rem) / 55);
  }
}

.devices__tippy {
  display: inline-block;
  position: absolute;
  font-weight: 500;
  font-size: 0.6375rem;
  color: #303030;
  line-height: 18px;
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f0f0f0;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

@supports (top: clamp( 0.3125rem , 0.2670454545rem  +  0.2272727273vw , 0.4375rem )) {
  .devices__tippy {
    top: clamp( 0.3125rem , 0.2670454545rem  +  0.2272727273vw , 0.4375rem );
  }
}

@supports not (top: clamp( 0.3125rem , 0.2670454545rem  +  0.2272727273vw , 0.4375rem )) {
  .devices__tippy {
    top: calc(0.3125rem + 0.125 * (100vw - 20rem) / 55);
  }
}

@supports (left: clamp( 14.375rem , 11.875rem  +  12.5vw , 21.25rem )) {
  .devices__tippy {
    left: clamp( 14.375rem , 11.875rem  +  12.5vw , 21.25rem );
  }
}

@supports not (left: clamp( 14.375rem , 11.875rem  +  12.5vw , 21.25rem )) {
  .devices__tippy {
    left: calc(14.375rem + 6.875 * (100vw - 20rem) / 55);
  }
}

.devices__tippy:hover {
  background-color: #d3d3d3;
}

.devices__text {
  line-height: 1.55;
  font-weight: 300;
}

@supports (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
  .devices__text {
    font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
  .devices__text {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 55);
  }
}

.devices__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.devices__img-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.explane__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .explane__item {
    gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .explane__item {
    gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .explane__item:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .explane__item:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.explane__item-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .explane__item-reverse {
    gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .explane__item-reverse {
    gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .explane__item-reverse:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .explane__item-reverse:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

@supports (max-width: clamp( 2.375rem , 2.2159090909rem  +  0.7954545455vw , 2.8125rem )) {
  .explane__img {
    max-width: clamp( 2.375rem , 2.2159090909rem  +  0.7954545455vw , 2.8125rem );
  }
}

@supports not (max-width: clamp( 2.375rem , 2.2159090909rem  +  0.7954545455vw , 2.8125rem )) {
  .explane__img {
    max-width: calc(2.375rem + 0.4375 * (100vw - 20rem) / 55);
  }
}

.explane__text {
  font-weight: 300;
  line-height: 1.55;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

@supports (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
  .explane__text {
    font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
  .explane__text {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp(1.875rem, 1.1931818182rem + 3.4090909091vw, 3.75rem)) {
  .contacts {
    margin-bottom: clamp(1.875rem, 1.1931818182rem + 3.4090909091vw, 3.75rem);
  }
}

@supports not (margin-bottom: clamp(1.875rem, 1.1931818182rem + 3.4090909091vw, 3.75rem)) {
  .contacts {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
  }
}

.contacts__title_h2 {
  font-weight: 500;
  line-height: 1.55;
  margin-bottom: 20px;
}

@supports (font-size: clamp(0.9375rem, 0.8693181818rem + 0.3409090909vw, 1.125rem)) {
  .contacts__title_h2 {
    font-size: clamp(0.9375rem, 0.8693181818rem + 0.3409090909vw, 1.125rem);
  }
}

@supports not (font-size: clamp(0.9375rem, 0.8693181818rem + 0.3409090909vw, 1.125rem)) {
  .contacts__title_h2 {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__label {
  opacity: 0.3;
  text-transform: uppercase;
  line-height: 1.55;
  font-weight: 700;
}

@supports (font-size: clamp(0.9375rem, 0.8693181818rem + 0.3409090909vw, 1.125rem)) {
  .contacts__label {
    font-size: clamp(0.9375rem, 0.8693181818rem + 0.3409090909vw, 1.125rem);
  }
}

@supports not (font-size: clamp(0.9375rem, 0.8693181818rem + 0.3409090909vw, 1.125rem)) {
  .contacts__label {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

.contacts__text {
  font-weight: 300;
  line-height: 1.55;
}

@supports (font-size: clamp(1.5625rem, 1.3352272727rem + 1.1363636364vw, 2.1875rem)) {
  .contacts__text_header {
    font-size: clamp(1.5625rem, 1.3352272727rem + 1.1363636364vw, 2.1875rem);
  }
}

@supports not (font-size: clamp(1.5625rem, 1.3352272727rem + 1.1363636364vw, 2.1875rem)) {
  .contacts__text_header {
    font-size: calc(1.5625rem + 0.625 * (100vw - 20rem) / 55);
  }
}

@supports (font-size: clamp(1.25rem, 1.1363636364rem + 0.5681818182vw, 1.5625rem)) {
  .contacts__text_footer {
    font-size: clamp(1.25rem, 1.1363636364rem + 0.5681818182vw, 1.5625rem);
  }
}

@supports not (font-size: clamp(1.25rem, 1.1363636364rem + 0.5681818182vw, 1.5625rem)) {
  .contacts__text_footer {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 55);
  }
}

@supports (gap: clamp(0.0000000625rem, -0.6818180966rem + 3.4090907955vw, 1.875rem)) {
  .contacts__body {
    gap: clamp(0.0000000625rem, -0.6818180966rem + 3.4090907955vw, 1.875rem);
  }
}

@supports not (gap: clamp(0.0000000625rem, -0.6818180966rem + 3.4090907955vw, 1.875rem)) {
  .contacts__body {
    gap: calc(0.0000000625rem + 1.8749999375 * (100vw - 20rem) / 55);
  }
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item-btn {
  margin-top: 0.625rem;
}

.contacts__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px 0 0;
}

.header-auth__title {
  color: #202020;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.3125rem;
}

.header-auth__title:hover {
  opacity: 0.7;
}

.page_white {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth {
  max-width: 385px;
  width: 100%;
}

.auth__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 540px;
  color: #000;
}

.auth__header {
  line-height: 1.5;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.auth__title {
  font-size: 2rem;
  font-weight: 700;
  color: #2d333a;
  margin-bottom: 0.625rem;
}

.auth__form {
  width: 100%;
  text-align: center;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.auth__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.auth__item:last-of-type {
  margin-bottom: 0;
}

.auth__label {
  color: #6f7780;
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
}

.auth__input {
  height: auto;
  min-height: 52px;
  border: 1px solid #c2c8d0;
  border-radius: 3px;
  font-size: 1rem;
  width: 100%;
  outline: none;
  padding: 0 16px;
  -webkit-transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  line-height: 1.1;
  text-align: left;
}

.auth__input_pass {
  font-size: 1rem;
}

.auth__input:focus {
  -webkit-box-shadow: 0 0 5px rgba(255, 157, 0, 0.5);
          box-shadow: 0 0 5px rgba(255, 157, 0, 0.5);
  border-color: #ff9d00;
}

.auth__viewpass {
  position: absolute;
  right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 63.5%;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, background-color 0.3s ease 0s;
  width: 40px;
  height: 51px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.auth__viewpass:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.auth__viewpass img {
  width: 1.125rem;
}

.auth__fp {
  color: #ec9200;
  margin-top: 16px;
  padding-left: 4px;
  line-height: 1.5;
  font-size: 0.875rem;
}

.auth__btn {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff9d00;
  border-radius: 3px;
  min-height: 3.25rem;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-color 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.auth__btn:hover {
  background-color: rgb(236, 146, 0);
  -webkit-box-shadow: 0 0 5px rgba(236, 146, 0, 0.1);
          box-shadow: 0 0 5px rgba(236, 146, 0, 0.1);
}

.auth__signup {
  font-size: 0.875rem;
  width: 100%;
  margin-top: 1rem;
  color: #000;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  text-align: center;
}

.auth__signup:last-child {
  margin-top: 0.625rem;
}

.form__error {
  color: red;
  margin-top: 0.125rem;
}

._form-error {
  color: red;
}

.herogames {
  position: relative;
  background-color: #1c1c1c;
}

@supports (margin-bottom: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
  .herogames {
    margin-bottom: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
  .herogames {
    margin-bottom: calc(3.75rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.herogames__container {
  max-width: 93.75rem;
  position: relative;
}

.herogames__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.herogames__content {
  text-align: center;
  max-width: 950px;
  width: 100%;
  background-color: #202020;
  padding: 1.25rem;
  border-radius: 50% 30% 20% 60%/50% 20% 60% 30%;
  -webkit-box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  z-index: 1;
  border: 3px solid red;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation: morph 8s ease-in-out infinite;
          animation: morph 8s ease-in-out infinite;
}

@supports (padding: clamp( 3.125rem , 2.2159090909rem  +  4.5454545455vw , 5.625rem )) {
  .herogames__content {
    padding: clamp( 3.125rem , 2.2159090909rem  +  4.5454545455vw , 5.625rem );
  }
}

@supports not (padding: clamp( 3.125rem , 2.2159090909rem  +  4.5454545455vw , 5.625rem )) {
  .herogames__content {
    padding: calc(3.125rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.herogames__title {
  font-weight: 500;
  line-height: 1.3;
}

@supports (font-size: clamp( 1.5rem , 0.8181818182rem  +  3.4090909091vw , 3.375rem )) {
  .herogames__title {
    font-size: clamp( 1.5rem , 0.8181818182rem  +  3.4090909091vw , 3.375rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 0.8181818182rem  +  3.4090909091vw , 3.375rem )) {
  .herogames__title {
    font-size: calc(1.5rem + 1.875 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .herogames__title {
    margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .herogames__title {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.herogames__text {
  line-height: 1.3;
  font-weight: 300;
}

@supports (font-size: clamp( 0.75rem , 0.4318181818rem  +  1.5909090909vw , 1.625rem )) {
  .herogames__text {
    font-size: clamp( 0.75rem , 0.4318181818rem  +  1.5909090909vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.4318181818rem  +  1.5909090909vw , 1.625rem )) {
  .herogames__text {
    font-size: calc(0.75rem + 0.875 * (100vw - 20rem) / 55);
  }
}

.games__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.games__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
  .games__body {
    margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
  .games__body {
    margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.games__title {
  font-weight: 500;
}

@supports (font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem )) {
  .games__title {
    font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem )) {
  .games__title {
    font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 55);
  }
}

.games__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.games__btn {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.games__btn img {
  width: 35px;
  height: 35px;
}

@supports (margin-left: clamp( -1.5625rem , -0.7102272727rem  +  -1.1363636364vw , -0.9375rem )) {
  .games__slider {
    margin-left: clamp( -1.5625rem , -0.7102272727rem  +  -1.1363636364vw , -0.9375rem );
  }
}

@supports not (margin-left: clamp( -1.5625rem , -0.7102272727rem  +  -1.1363636364vw , -0.9375rem )) {
  .games__slider {
    margin-left: calc(-0.9375rem + -0.625 * (100vw - 20rem) / 55);
  }
}

@supports (margin-right: clamp( -1.5625rem , -0.7102272727rem  +  -1.1363636364vw , -0.9375rem )) {
  .games__slider {
    margin-right: clamp( -1.5625rem , -0.7102272727rem  +  -1.1363636364vw , -0.9375rem );
  }
}

@supports not (margin-right: clamp( -1.5625rem , -0.7102272727rem  +  -1.1363636364vw , -0.9375rem )) {
  .games__slider {
    margin-right: calc(-0.9375rem + -0.625 * (100vw - 20rem) / 55);
  }
}

@supports (padding: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem )) {
  .games__slider {
    padding: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem );
  }
}

@supports not (padding: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem )) {
  .games__slider {
    padding: calc(0.9375rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.games__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #121212;
  min-height: 31.25rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.games__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.125rem 1.25rem;
}

.games__name {
  line-height: 1.35;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

@supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .games__name {
    font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .games__name {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.games__img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  min-height: 154.89px;
}

.games__description {
  line-height: 1.55;
  font-weight: 300;
  margin-bottom: 0.625rem;
}

@supports (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .games__description {
    font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .games__description {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.games__year-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0.8;
}

.games__dev {
  line-height: 1.55;
  font-weight: 200;
}

@supports (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .games__dev {
    font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .games__dev {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.games__year {
  line-height: 1.55;
  font-weight: 200;
}

@supports (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .games__year {
    font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .games__year {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.devices-bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.devices-content {
  max-width: 100%;
}

.devices-fix {
  min-height: 500px;
  background-color: #1c1c1c;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@supports (padding: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .content-dev-new {
    padding: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
  }
}

@supports not (padding: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .content-dev-new {
    padding: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.devices-img {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-left: 1px solid #2d333a;
}

.no-webp .dev-bg{
  background-image: url("../img/devicesbg2.jpg"); }

.dev-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.dev-text {
  padding-left: 0.625rem;
  padding-bottom: 0.9375rem;
}

@supports (margin-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
  .dev-text:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
  .dev-text:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
  }
}

.dev-container {
  max-width: 120rem;
}

.dev-title {
  margin-bottom: 0.625rem;
}

.password-error {
  color: red;
  margin-top: 0.3125rem;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
}

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  -o-transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
       -o-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
          transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .contacts__item-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 29.25em) {
  .games__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

@supports (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .games__control {
      margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .games__control {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 47.99875em) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

@supports (gap: clamp( 0.625rem , -0.1704545455rem  +  3.9772727273vw , 2.8125rem )) {
    .menu__list {
      gap: clamp( 0.625rem , -0.1704545455rem  +  3.9772727273vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.1704545455rem  +  3.9772727273vw , 2.8125rem )) {
    .menu__list {
      gap: calc(0.625rem + 2.1875 * (100vw - 20rem) / 55);
    }
}

  .devices__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
  }

@supports (row-gap: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .devices__body {
      row-gap: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (row-gap: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .devices__body {
      row-gap: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

  .devices__block:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }

  .devices__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .devices__img-ibg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .explane__item-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .contacts__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .herogames__background {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 61.99875em) {
  .devices-fix:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }

  .devices-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .devices-img img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (min-width: 935px) {
  .question__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .question__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    border: 0.5px solid #fff;
    opacity: 0.3;
  }

@supports (gap: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem )) {
    .question__items-block {
      gap: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem )) {
    .question__items-block {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 935px) {
@supports (margin-bottom: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem )) {
    .question__items-block:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem )) {
    .question__items-block:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 61.99875em) {
  .games__btns {
    gap: 30px;
  }

  .devices-fix:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }

  .devices-fix {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 30px 0px;
  }

  .content-dev-new {
    margin: 0px 0px 0px 0px;
  }

  .devices-img img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .devices-img img {
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .devices-img {
    border-top: 1px solid #2d333a;
    border-left: none;
  }

  .dev-body {
    display: block;
  }
}

@media (max-width: 47.99875em) {
  .header {
    position: fixed;
  }

  .menu__phone-img {
    margin: 0px 10px 0px 0px;
    max-width: 40px;
    max-height: 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #202020;
    z-index: 2;
  }

  .menu__list > li:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .page {
    margin-top: 90px;
  }

  .devices__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 30px 0px;
  }

  .devices__content {
    margin: 0px 0px 20px 0px;
  }

  .devices__img-ibg img {
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .herogames__background img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 29.25em) {
@supports (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .games__title {
      margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .games__title {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

  .games__btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .menu__title:hover {
    opacity: 0.7;
  }

  .menu__link:hover {
    opacity: 0.7;
  }

  .footer__vk:hover {
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }

  .spollers__title:hover {
    color: #ff9d00;
  }

  .games__btn:hover {
    opacity: 0.5;
  }
}

.webp .dev-bg{ background-image: url(../img/devicesbg2.webp); }

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}