{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<title>VrClub</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__wrapper">
				<div class="header__container">
					<div class="header__menu menu">
						<a href="/" class="menu__title">Vr club</a>
						<nav class="menu__body">
							<ul class="menu__list">
								<li class="menu__item"><a href="/games/" class="menu__link">Список игр</a></li>
								<li class="menu__item"><a href="/devices/" class="menu__link">Устройства</a></li>
								<li class="menu__item"><a href="/login/" class="menu__link">Авторизация</a></li>
								<li class="menu__item">
									<a href="tel:+222356" class="menu__link"><picture><source srcset="{% static 'img/phone.webp' %}" type="image/webp"><img src="{% static 'img/phone.png' %}" class="menu__phone-img" img></picture> 222-356
									</a>
								</li>
							</ul>
						</nav>
						<button type="button" class="menu__icon icon-menu"><span></span></button>
					</div>
				</div>
			</div>
		</header>
		<main class="page">
			<section class="page__herogames herogames dev-bg">
				<div class="herogames__container">
					<!-- <div class="devices-bg ">
                        <picture><source srcset="img/devicesbg.webp" type="image/webp"><img class="" src="img/devicesbg.png" alt="BgImage"></picture>
                    </div> -->
					<div class="herogames__body">
						<div class="herogames__content devices-content">
							<h1 class="herogames__title">Полный список устройств</h1>
							<div class="herogames__text">
								<p>VR - это инновационная технология, которая позволяет пользователям погрузиться в
									виртуальный мир и взаимодействовать с ним, как будто он существует в реальности.
									Список устройств VR постоянно растет и совершенствуется, предоставляя пользователям
									более удобные и эффективные способы погружения в виртуальную реальность!</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page__devices devices">
				<div class="devices__container dev-container">
					<div class="devices__body dev-body">
						<article class="devices__block devices-fix">
							<div class="devices__content content-dev-new">
								<div class="devices__title-wrapper dev-title">
									<h1 class="devices__title">Oculus VR
								</div>
								<p class="devices__text dev-text">Разрешение дисплея - 1080 x 1200 пикселей на каждый
									глаз, что
									обеспечивает более четкое изображение, чем у большинства других гарнитур виртуальной
									реальности.</p>
								<p class="devices__text dev-text">Обновление частоты - до 90 Гц, что позволяет создавать
									более
									плавные и реалистичные изображения.</p>
								<p class="devices__text dev-text">Датчики отслеживания движения - гироскоп, акселерометр
									и
									магнитометр, которые позволяют гарнитуре отслеживать движения головы пользователя и
									корректировать изображение в соответствии с этими движениями.</p>
								<p class="devices__text dev-text">Встроенные наушники - для обеспечения звукового
									оформления
									виртуальной реальности, что позволяет глубже погрузиться в игровой мир.</p>
								<p class="devices__text dev-text">Контроллеры Oculus Touch - это две беспроводные
									ручки-контроллера, которые распознают движения рук пользователя и позволяют ему
									контролировать действия в виртуальной реальности.</p>


							</div>
							<div class="devices__img-ibg devices-img">
								<picture><source srcset="{% static 'img/oculus.webp' %}" type="image/webp"><img src="{% static 'img/oculus.jpg' %}" alt="Oculus Vr"></picture>
							</div>
						</article>
						<article class="devices__block devices-fix">
							<div class="devices__content content-dev-new">
								<h1 class="devices__title dev-title">Sony Playstation <span class="cr-red">5</span>
								</h1>
								<p class="devices__text dev-text">Процессор - основой PS5 является 8-ядерный процессор
									AMD Zen 2 с тактовой частотой до 3,5 ГГц, что обеспечивает быструю обработку данных.
								</p>
								<p class="devices__text dev-text">Графический процессор - PS5 использует
									10,3-терафлопсный графический процессор AMD RDNA 2, который поддерживает разрешение
									4K и частоту обновления 120 Гц, что обеспечивает высокое качество графики.</p>
								<p class="devices__text dev-text">Оперативная память - PS5 оснащена 16 ГБ оперативной
									памяти GDDR6, что обеспечивает быструю загрузку и обработку данных.</p>
								<p class="devices__text dev-text">Хранение данных - PS5 поставляется с жестким диском
									SSD ёмкостью 825 ГБ, что обеспечивает быструю загрузку игр и уменьшает время
									ожидания.</p>
								<p class="devices__text dev-text">Звук - PS5 поддерживает технологию звука 3D, которая
									позволяет игрокам получить более реалистичный звук и лучшее погружение в игровой
									мир.</p>
								<p class="devices__text dev-text">Контроллер DualSense - PS5 поставляется с новым
									контроллером DualSense, который имеет улучшенные тактильные ощущения и технологию
									отдачи на курок, что позволяет игрокам более точно контролировать игровых
									персонажей.</p>

							</div>
							<div class="devices__img-ibg devices-img">
								<picture><source srcset="{% static 'img/ps5.webp' %}" type="image/webp"><img src="{% static 'img/ps5.jpg' %}" alt="Ps5"></picture>
							</div>
						</article>
						<article class="devices__block devices-fix">
							<div class="devices__content content-dev-new">
								<h1 class="devices__title dev-title">Xbox series <span class="cr-red">X</span> </h1>
								<p class="devices__text dev-text">Процессор - основой Xbox Series X является 8-ядерный
									процессор AMD Zen 2 с тактовой частотой до 3,8 ГГц, что обеспечивает быструю
									обработку данных.</p>
								<p class="devices__text dev-text">Графический процессор - Xbox Series X использует
									12-терафлопсный графический процессор AMD RDNA 2, который поддерживает разрешение 4K
									и частоту обновления 120 Гц, что обеспечивает высокое качество графики.</p>
								<p class="devices__text dev-text">Оперативная память - Xbox Series X оснащена 16 ГБ
									оперативной памяти GDDR6, что обеспечивает быструю загрузку и обработку данных.</p>
								<p class="devices__text dev-text">Хранение данных - Xbox Series X поставляется с жестким
									диском SSD ёмкостью 1 ТБ, что обеспечивает быструю загрузку игр и уменьшает время
									ожидания.</p>
								<p class="devices__text dev-text">Звук - Xbox Series X поддерживает технологию звука 3D,
									которая позволяет игрокам получить более реалистичный звук и лучшее погружение в
									игровой мир.</p>
								<p class="devices__text dev-text">Контроллер Xbox Wireless Controller - Xbox Series X
									поставляется с новым контроллером Xbox Wireless Controller, который имеет улучшенную
									эргономику и технологию отдачи на курок, что позволяет игрокам более точно
									контролировать игровых персонажей.</p>

							</div>
							<div class="devices__img-ibg devices-img">
								<picture><source srcset="{% static 'img/xbox.webp' %}" type="image/webp"><img src="{% static 'img/xbox.jpg' %}" alt="Xbox"></picture>
							</div>
						</article>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__body">
					<div class="footer__content">
						<div class="footer__title">Vr club</div>
						<a href="tel:+222356" class="footer__link"><picture><source srcset="{% static 'img/phone.webp' %}" type="image/webp"><img src="{% static 'img/phone.png' %}" class="footer__phone-img" img></picture>
							222-356
						</a>
					</div>
					<div class="footer__bottom-text">© 2023 VR CLUB, All rights reserved.</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="popup" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content">
				<button data-close type="button" class="popup__close"><img class="popup__cross" src="{% static 'img/cross.svg' %}" alt="close"></button>
				<h1 class="popup__title">Забронировать место</h1>
				<form method="POST" class="popup__form" action="#">
					<div class="popup__item">
						<label class="popup__label" for="time">Устройство</label>
						<select name="devices" id="devices">
							<option value="oculus" selected>Oculus VR</option>
							<option value="ps5">Ps 5</option>
							<option value="xbox">Xbox</option>
						</select>
					</div>
					<div class="popup__item">
						<label class="popup__label" for="time">Время</label>
						<input class="popup__input" type="time" id="time" name="time" min="11:00" max="22:00" required>
					</div>
					<div class="popup__item">
						<label class="popup__label" for="datePopup">Дата</label>
						<input class="popup__input" type="date" id="datePopup" min="" max="" name="date" required>
					</div>
					<div class="popup__item">
						<label class="popup__label" for="guests">Количество людей</label>
						<input class="popup__input" type="number" id="guests" name="guests" min="1" max="10" value="1" required>
					</div>

					<!-- <div class="popup__item">
					<label class="popup__label" for="question">Ваш вопрос</label>
					<textarea class="popup__input popup__input_question" rows="5" cols="50" type="text" id="question"
						name="question"></textarea>
				</div> -->
					<!-- <a class="auth__fp" href="#">Forgot Password?</a> -->
					<button class="popup__btn" type="submit">Забронировать</button>
				</form>
			</div>
		</div>
	</div>
	<script src="{% static 'js/app.min.js' %}"></script>
</body>

</html>