{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<title>VrClub</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__wrapper">
				<div class="header__container">
					<div class="header__menu menu">
						<a href="/" class="menu__title">Vr club</a>
						<nav class="menu__body">
							<ul class="menu__list">
								<li class="menu__item"><a href="/games/" class="menu__link">Список игр</a></li>
								<li class="menu__item"><a href="/devices/" class="menu__link">Устройства</a></li>
								<li class="menu__item"><a href="/login/" class="menu__link">Авторизация</a></li>
								<li class="menu__item">
									<a href="tel:+222356" class="menu__link">
										<picture>
											<source srcset="{% static 'img/phone.webp' %}" type="image/webp"><img
												src="{% static 'img/phone.png' %}" class="menu__phone-img" img>
										</picture> 222-356
									</a>
								</li>
							</ul>
						</nav>
						<button type="button" class="menu__icon icon-menu"><span></span></button>
					</div>
				</div>
			</div>
		</header>
		<main class="page">
			<section class="page__herogames herogames">
				<div class="herogames__container">
					<div class="herogames__background ">
						<picture>
							<source srcset="{% static 'img/gamesbg.webp' %}" type="image/webp"><img class=""
								src="{% static 'img/gamesbg.png' %}" alt="BgImage">
						</picture>
					</div>
					<div class="herogames__body">
						<div class="herogames__content">
							<h1 class="herogames__title">Полный список игр клуба</h1>
							<div class="herogames__text">
								<p>В играх виртуальной реальности вы можете делать все, что хотите, быть тем, кем
									хотите, и находиться там, где хотите. Все ваши движения отслеживаются и переносятся
									в виртуальный мир, где вы... больше не являетесь собой!</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page__games games">
				{% for category in categories %}
				<div class="games__container">
					<article class="games__body">
						<div class="games__control">
							<h1 class="games__title">{{ category.name }}
							</h1>
							<div class="games__btns">
								<button type="button" class="games__btn swiper-button-prev{{category.id}}"><img
										src="{% static 'img/arrowleft.svg' %}" alt="prev"></button>
								<button type="button" class="games__btn swiper-button-next{{category.id}}"><img
										src="{% static 'img/arrowright.svg' %}" alt="next"></button>
							</div>
						</div>
						<div class="games__slider swiper slider{{category.id}}">
							<div class="games__wrapper swiper-wrapper">
								{% for value in games %}
								{% if value.category.name == category.name %}
								<div class="games__slide swiper-slide">
									<picture>
										<source srcset="{{ value.photo.url }}" type="image/webp"><img class="games__img"
											src="{{ value.photo.url }}" alt="game">
									</picture>
									<div class="games__content">
										<div class="games__name">{{ value.name }}</div>
										<div class="games__description">
											<p>{{ value.description }}</p>
										</div>
										<div class="games__year-dev">
											<div class="games__dev">{{ value.developer }}</div>
											<div class="games__year">{{ value.release_date }}г</div>
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}

							</div>
						</div>
					</article>
				</div>
				{% endfor %}
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__body">
					<div class="footer__content">
						<div class="footer__title">Vr club</div>
						<a href="tel:+222356" class="footer__link">
							<picture>
								<source srcset="img/phone.webp" type="image/webp"><img src="img/phone.png"
									class="footer__phone-img" img>
							</picture>
							222-356
						</a>
					</div>
					<div class="footer__bottom-text">© 2023 VR CLUB, All rights reserved.</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="popup" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content">
				<button data-close type="button" class="popup__close"><img class="popup__cross" src="img/cross.svg"
						alt="close"></button>
				<h1 class="popup__title">Забронировать место</h1>
				<form method="POST" class="popup__form" action="#">
					<div class="popup__item">
						<label class="popup__label" for="time">Устройство</label>
						<select name="devices" id="devices">
							<option value="oculus" selected>Oculus VR</option>
							<option value="ps5">Ps 5</option>
							<option value="xbox">Xbox</option>
						</select>
					</div>
					<div class="popup__item">
						<label class="popup__label" for="time">Время</label>
						<input class="popup__input" type="time" id="time" name="time" min="11:00" max="22:00" required>
					</div>
					<div class="popup__item">
						<label class="popup__label" for="datePopup">Дата</label>
						<input class="popup__input" type="date" id="datePopup" min="" max="" name="date" required>
					</div>
					<div class="popup__item">
						<label class="popup__label" for="guests">Количество людей</label>
						<input class="popup__input" type="number" id="guests" name="guests" min="1" max="10" value="1"
							required>
					</div>

					<!-- <div class="popup__item">
					<label class="popup__label" for="question">Ваш вопрос</label>
					<textarea class="popup__input popup__input_question" rows="5" cols="50" type="text" id="question"
						name="question"></textarea>
				</div> -->
					<!-- <a class="auth__fp" href="#">Forgot Password?</a> -->
					<button class="popup__btn" type="submit">Забронировать</button>
				</form>
			</div>
		</div>
	</div>
	<script src="{% static 'js/app.min.js' %}"></script>
</body>

</html>