{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<title>VrClub</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__wrapper">
				<div class="header__container">
					<div class="header__menu menu">
						<a href="/" class="menu__title">Vr club</a>
						<nav class="menu__body">
							<ul class="menu__list">
								<li class="menu__item"><a href="/games/" class="menu__link">Список игр</a></li>
								<li class="menu__item"><a href="/devices/" class="menu__link">Устройства</a></li>
								{% if request.user.is_authenticated %}
								<li class="menu__item"><a href="/logout/" class="menu__link">выйти</a></li>
								{% else %}
								<li class="menu__item"><a href="/login/" class="menu__link">Авторизация</a></li>
								{% endif %}
								<li class="menu__item">
									<a href="tel:+222356" class="menu__link">
										<picture>
											<source srcset="{% static 'img/phone.webp' %}" type="image/webp"><img
												src="{% static 'img/phone.png' %}" class="menu__phone-img" img>
										</picture> 222-356
									</a>
								</li>
							</ul>
						</nav>
						<button type="button" class="menu__icon icon-menu"><span></span></button>
					</div>
				</div>
			</div>
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} style="height:50px; font-size:20px; text-align:center; font-weight: bold;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</header>

		<main class="page">

			<section class="page__hero hero">

				<video class="hero__bg-video" autoplay muted loop>
					<source src="{% static 'img/video.mp4' %}" type="video/mp4">
				</video>
				<div class="hero__container">
					<div class="hero__wrapper">
						<div class="hero__body">
							<h1 class="hero__title ">Виртуальная реальность Ижевск
							</h1>
							<p class="hero__text ">Друг, в одном месте мы собрали для тебя множество
								крутых развлечений -
								VR-шлемы, игровые приставки, музыкальные и активные игры. Яркие праздники и классный
								отдых
								ждут тебя в VR Club!</p>
							<button type="button" data-popup="#popup" class="hero__btn btn ">Забронировать</button>
						</div>
					</div>
				</div>
			</section>
			<section class="page__categories categories">
				<div class="categories__container">
					<h1 class="categories__title title">Наши развлечения</h1>
					<div class="categories__body">
						<div class="categories__item">
							<picture>
								<source srcset="{% static 'img/helmet.webp' %}" type="image/webp"><img class="categories__img"
									src="{% static 'img/helmet.png' %}" alt="Image">
							</picture>
							<div class="categories__content">
								<div class="categories__content-title">Виртуальная реальность</div>
								<div class="categories__text">Телепортируйся прямо в игру! Выбирай из более чем 20
									классных
									VR-проектов. И не забудь захватить друзей - ведь у нас есть кооперативные VR-игры до
									4
									человек!</div>
							</div>
						</div>
						<div class="categories__item">
							<picture>
								<source srcset="{% static 'img/ps.webp' %}" type="image/webp"><img class="categories__img"
									src="{% static 'img/ps.png' %}" alt="Image">
							</picture>
							<div class="categories__content">
								<div class="categories__content-title">Sony PlayStation</div>
								<div class="categories__text">Более 20 - именно столько интересных игр ты найдешь в
									нашей коллекции на PS5 и PS4 Pro. Насладись любимыми тайтлами с друзьями или в
									одиночку за экраном 4К-телевизора - или на большом проекторе!</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page__question question">
				<div class="question__container">
					<h1 class="question__title title">VR Club - любимое место для отдыха в Ижевске!</h1>
					<div class="question__body">
						<div class="question__items-block">
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Для детей и их
										родителей</button>
									<div class="spollers__body">В одном месте ребята собрали столько интересных
										развлечений! Всего за 1 посещение можно поиграть в шлеме виртуальной реальности
										и на приставках. Причем все это интересно как детям от 6 лет, так
										и взрослым! А 2 приветливых администратора помогут разобраться и легко всему
										научат.</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Для тех, кого застала
										ностальгия</button>
									<div class="spollers__body">В каждом взрослом живет ребенок. И, конечно, он никогда
										не прочь поиграть и весело провести время! И как же здорово, что в VR Club так
										много увлекательных развлечений. Самое то, чтобы вновь окунуться в детство и
										провести там несколько часов!</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Для тех, кто хочет
										провести праздник</button>
									<div class="spollers__body">VR Club - отличное место для любого праздника, будь то
										детский или взрослый День рождения, корпоратив, классное мероприятие. Ведь здесь
										много места (целых 170 квадратных метров) и огромное разнообразие увлекательных
										развлечений - хватит и на 30+ гостей! А еще есть отдельная фуршетная зона, куда
										можно принести с собой или заказать любую еду и напитки без всяких доплат и
										ограничений. И, конечно, не забываем про приятную стоимость праздника!</div>
								</div>
							</div>
						</div>
						<div class="question__items-block">
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Я не разберусь</button>
									<div class="spollers__body">Не переживай - к нам часто приходят новички, которые
										никогда
										раньше не играли в VR или на приставке. Это очень просто и весело - мы всему
										тебя
										научим и объясним управление!</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">В клубе будут другие
										гости</button>
									<div class="spollers__body">В нашем клубе 4 отдельных игровых зала. Мы расположили
										все
										игровые зоны так, чтобы ты мог играть с максимальным комфортом - поэтому
										классному
										отдыху ничего не помешает!</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Это дорого</button>
									<div class="spollers__body">Совсем нет, друг! В пятницу, выходные и праздничные дни
										стоимость отдыха в нашем клубе - всего 180 рублей за час с человека. А в будни
										со
										скидкой так и вообще 120 рублей! Только представь, друг, как ты проводишь у нас
										пару-тройку ярких часов в виар-шлеме и за приставкой - и платишь за это всего
										300-500 рублей.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page__devices devices">
				<div class="devices__container">
					<div class="devices__body">
						<article class="devices__block">
							<div class="devices__content">
								<div class="devices__title-wrapper">
									<h1 class="devices__title">Oculus VR <span class="cr-red">7+</span></h1><button
										data-tippy-content="Рекомендованный возраст игроков от 7 лет. Virtual reality зоны расположены около друг друга"
										type="button" class="devices__tippy">?</button>
								</div>
								<p class="devices__text">Вы испробуете на себе шлем виртуальной реальности один или с
									друзьями. Все действия в реальности будут интегрироваться в виртуальную через
									оборудование. Свободное передвижение. На 1 человека более 10м2</p>
								<div class="devices__explane explane">
									<div class="explane__item">
										<picture>
											<source srcset="{% static 'img/mask.webp' %}" type="image/webp"><img
												class="explane__img" src="{% static 'img/mask.png' %}" alt="Image">
										</picture>
										<p class="explane__text">В библиотеке около 20 игр VR. За один сеанс
											протестируйте сколько захотите</p>
									</div>
									<div class="explane__item">
										<picture>
											<source srcset="{% static 'img/human.webp' %}" type="image/webp"><img
												class="explane__img" src="{% static 'img/human.png' %}" alt="Image">
										</picture>
										<p class="explane__text">Вы будете видеть друг друга и помогать, а иногда
											противостоять</p>
									</div>
									<div class="explane__item">
										<picture>
											<source srcset="{% static 'img/time.webp' %}" type="image/webp"><img
												class="explane__img" src="{% static 'img/time.png' %}" alt="Image">
										</picture>
										<p class="explane__text">Длительность посещения от 60 минут. Сеанс - 50 минут
										</p>
									</div>
								</div>
							</div>
							<div class="devices__img-ibg">
								<picture>
									<source srcset="{% static 'img/oculus.webp' %}" type="image/webp"><img
										src="{% static 'img/oculus.jpg' %}" alt="Oculus Vr">
								</picture>
							</div>
						</article>
						<article class="devices__block">
							<div class="devices__content">
								<h1 class="devices__title">Sony Playstation <span class="cr-red">5</span> </h1>
								<p class="devices__text">Sony Playstation 5 - консоль нового поколения уже в клубе
									escape. Вы ее можете опробовать в одной из лучших VIP комнат города</p>
								<div class="devices__explane explane">
									<div class="explane__item-reverse">
										<picture>
											<source srcset="{% static 'img/gamepad.webp' %}" type="image/webp"><img
												class="explane__img" src="img/gamepad.png" alt="Image">
										</picture>
										<p class="explane__text">Установлены самые ТОП games насколько хватило памяти +
											4 джойстика</p>
									</div>
									<div class="explane__item-reverse">
										<picture>
											<source srcset="{% static 'img/tv.webp' %}" type="image/webp"><img class="explane__img"
												src="img/tv.png" alt="Image">
										</picture>
										<p class="explane__text">Телевизор LG NanoCell 55, Ultra HD 4K никого не оставит
											равнодушным</p>
									</div>
									<div class="explane__item-reverse">
										<picture>
											<source srcset="{% static 'img/rock2.webp' %}" type="image/webp"><img
												class="explane__img" src="img/rock2.png" alt="Image">
										</picture>
										<p class="explane__text">Саундбар JBL 5.1 Surround дает мощнейший объемный звук
										</p>
									</div>
								</div>
							</div>
							<div class="devices__img-ibg">
								<picture>
									<source srcset="{% static 'img/ps5.webp' %}" type="image/webp"><img src="img/ps5.jpg"
										alt="Ps5">
								</picture>
							</div>
						</article>
						<article class="devices__block">
							<div class="devices__content">
								<h1 class="devices__title">Xbox series <span class="cr-red">X</span> </h1>
								<p class="devices__text">Xbox series X - новейшая приставка от всеми известной компании
									Майкрософт. Имеется 4 оригинальных xbox джойстика с мягкой и нежной накладкой
									которая убережёт от усталости пальцев, а экран с разрешем в 4к поможет вам ощутить
									настоящие и неподдельные эмоции от игры</p>
								<div class="devices__explane explane">
									<div class="explane__item">
										<picture>
											<source srcset="{% static 'img/rock2.webp' %}" type="image/webp"><img
												class="explane__img" src="{% static 'img/rock2.png' %}" alt="Image">
										</picture>
										<p class="explane__text">На приставке установлено более 20 разных игр.
										</p>
									</div>
									<div class="explane__item">
										<picture>
											<source srcset="{% static 'img/tv.webp' %}" type="image/webp"><img class="explane__img"
												src="{% static 'img/tv.png' %}" alt="Image">
										</picture>
										<p class="explane__text">В списке имеются игры шутеры, головоломки, стратегии и
											многое другое.</p>
									</div>
									<div class="explane__item">
										<picture>
											<source srcset="{% static 'img/gamepad.webp' %}" type="image/webp"><img
												class="explane__img" src="{% static 'img/gamepad.png' %}" alt="Image">
										</picture>
										<p class="explane__text">На одной приставке может играть до 4 человек
											одновременно.
										</p>
									</div>
								</div>
							</div>
							<div class="devices__img-ibg">
								<picture>
									<source srcset="{% static 'img/xbox.webp' %}" type="image/webp"><img
										src="{% static 'img/xbox.jpg' %}" alt="Xbox">
								</picture>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section class="page__question question">
				<div class="question__container">
					<h1 class="question__title title">Друг, возможно, мы уже ответили на волнующий тебя вопрос ниже
					</h1>
					<div class="question__body">
						<div class="question__items-block">
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Сколько стоит отдых в
										клубе?</button>
									<div class="spollers__body">Мы работаем как антикафе: оплата происходит за
										проведенное в клубе время, а играть можно на всем, что свободно. В пятницу,
										выходные и праздники стоимость составляет 180 рублей за час на человека, а в
										будние дни со скидкой всего 120 рублей за час.</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Нужно записываться
										заранее?</button>
									<div class="spollers__body">Да, иначе может быть такая ситуация - ты пришел, а у нас
										все занято.</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Как работает
										бронирование?</button>
									<div class="spollers__body">Вы можете играть на всем, что свободно, но при этом
										определенная игровая зона, например, виар-шлемы или приставка, будет ваша на
										время записи. Мы уточним у вас, что именно нужно забронировать, когда будем
										записывать на игру.</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">В клубе могут быть другие
										гости?</button>
									<div class="spollers__body">Когда вы приедете к нам, мы зарезервируем для вас
										определенные развлечения, например, виар-шлем и приставку. Эти игровые зоны
										будут
										принадлежать только вам на все время вашего бронирования, и никто другой не
										сможет их занять. У нас также есть 4 отдельных игровых зала, и все развлечения
										расположены так, чтобы вы могли играть с комфортом - никто вас не потревожит!
									</div>
								</div>
							</div>
						</div>
						<div class="question__items-block">
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">А можно взять в аренду
										весь клуб?</button>
									<div class="spollers__body">Конечно! Это выгодно, если у вас большая компания - 10
										или больше человек. Обычно заказывают аренду всего клуба, чтобы отметить День
										рождения, корпоратив или просто отдохнуть с друзьями или семьей.</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">А какой режим работы у
										клубов?</button>
									<div class="spollers__body">Мы можем забронировать для вас удобное время по
										предварительной записи. Кроме того, мы работаем каждый день с 11:00 до 22:00.
									</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Есть ли ограничение по
										количеству гостей?</button>
									<div class="spollers__body">У нас большая площадь (целых 170 квадратных метров) с
										широким выбором развлечений, что позволяет нам легко проводить мероприятия для
										30 и более человек. Нас посещают целыми классами, лагерями и просто большими
										компаниями!

									</div>
								</div>
							</div>
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">Можно принести в клуб
										свою еду и напитки?</button>
									<div class="spollers__body">Конечно! У нас есть отдельная зона для фуршетов, а также
										бытовая техника, включающая микроволновку, холодильник, чайник и кулер с водой.
										Вы можете принести с собой любую еду и напитки без дополнительных платежей и
										ограничений, либо заказать их прямо в клуб.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page__contacts contacts">
				<div class="contacts__container">
					<h1 class="contacts__title title">Контакты</h1>
					<h2 class="contacts__title_h2">Откройте для себя мир виртуальных развлечений</h2>
					<div class="contacts__body">
						<div class="contacts__item">
							<h1 class="contacts__label">Адрес</h1>
							<div class="contacts__text contacts__text_header">Г. Ижевск</div>
							<div class="contacts__text contacts__text_footer">Ул. Пушкинская 268А (1-й этаж)</div>
						</div>
						<div class="contacts__item">
							<h1 class="contacts__label">Контакты</h1>
							<div class="contacts__text contacts__text_header">+7 (912) 856-25-08</div>
							<div class="contacts__text contacts__text_footer">izhevsk-iskra@vrclub.ru</div>
						</div>
						<div class="contacts__item">
							<h1 class="contacts__label">Время работы</h1>
							<div class="contacts__text contacts__text_header">11:00 — 22:00</div>
							<div class="contacts__text contacts__text_footer">Ежедневно</div>
						</div>
					</div>
					<div class="contacts__item-btn">
						<button type="button" data-popup="#popup" class="contacts__btn btn">Забронировать</button>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__body">
					<div class="footer__content">
						<div class="footer__title">Vr club</div>
						<a href="tel:+222356" class="footer__link">
							<picture>
								<source srcset="{% static 'img/phone.webp' %}" type="image/webp"><img
									src="{% static 'img/phone.png' %}" class="footer__phone-img" img>
							</picture>
							222-356
						</a>
					</div>
					<div class="footer__bottom-text">© 2023 VR CLUB, All rights reserved.</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="popup" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content">
				<button data-close type="button" class="popup__close"><img class="popup__cross"
						src="{% static 'img/cross.svg' %}" alt="close"></button>
				<h1 class="popup__title">Забронировать место</h1>
				<form method="POST" class="popup__form" action="/reservation/">
					{% csrf_token %}
					<div class="popup__item">
						<div class="popup__item">
							<label class="popup__label" for="from">От скольки</label>
							<input class="popup__input" type="datetime-local" id="from" name="from" min="{{ today_date }}" max="" required>
						</div>
						<div class="popup__item">
							<label class="popup__label" for="to">До скольки</label>
							<input class="popup__input" type="datetime-local" id="to" name="to" min="{{ today_date }}" max="" required>
						</div>
					</div>
					<div class="popup__item">
						<label class="popup__label" for="guests">Количество людей</label>
						<input class="popup__input" type="number" id="guests" name="guests" min="1" max="10" value="1"
							required>
					</div>

					<!-- <div class="popup__item">
					<label class="popup__label" for="question">Ваш вопрос</label>
					<textarea class="popup__input popup__input_question" rows="5" cols="50" type="text" id="question"
						name="question"></textarea>
				</div> -->
					<!-- <a class="auth__fp" href="#">Forgot Password?</a> -->
					{% if request.user.is_authenticated %}
					<button class="popup__btn" type="submit">Забронировать</button>
					{% else %}
					<button class="popup__btn" style="color:red" type="button" disabled>Вам необходимо войти</button>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
	<script src="{% static 'js/app.js' %}"></script>
</body>

</html>